/*menubar display flex to block*/

.menubar {
    display: block;
    padding: 0.5rem;
}

.menubar-container {
    padding-left: 2rem;
    padding-right:2rem
}

.menubar h1 {
    font-size:1.4rem ;
    color: #fff;
}

.showcase-container {
    text-align: center;
    padding: 6rem 1.6rem;
    line-height: 1.1;
  
}

.showcase-container h1 {
    color: #fff;
    font-size: 1.8rem;
}

.showcase-container p {
    color:#fff;
    font-size: 0.9rem; 
    text-align: center;
    justify-content: center;
    line-height: 1.5;
    word-spacing: 0.1rem;
    margin-top: 1.3rem;
    padding: 0 ;
 }

 .from-group {
    margin-top: 3.1rem;
    margin-bottom:5.8rem;
   
 }

input {
    padding:0.9rem;
    border: none;
    background: #999;
    width: 38%;
}

/* position block */

#introblocks .items {
    display: block;
    padding: 0.5rem;
    padding-bottom: 4rem;
}

/* Align item left */

#introblocks .items .item {
    display: block;
    text-align: center;
}

.section-title {
    text-align: center;
}

/*Refarence-short display left*/
.ref-short {
    padding-bottom: 0.7rem;
}

.ref-short ul {
    text-align: center;
    padding-top: 1rem;
    margin-bottom:1.8rem;
}


.ref-short ul li {
    display: inline-block;
    padding: 0.2px;
}

.ref-short strong {
    margin-left: 1rem;
    margin-right: 1rem;
}

.bg-img img {
    width:410px;
    height: 320px;
    padding: 0.6rem 1.5rem;
    display: block;
    padding-bottom: 1.3rem;    
}

.ref-short .btn {
    display: block;
    margin-left: 1.5rem;
    margin-top:1rem; 
}
 /*wrapper3*/

 #home-container {
    margin: 0;
   
}

.excerpt {
    width: 14rem;
    text-align: left;
    margin-left: 2.6rem;
    padding: 0 0rem;
}
.article-container  {
    display: block; 
    text-align: left;
    margin-left: -0.5rem;
    margin-top: 1.8rem;  
 }

 .excerpt {
    margin-top: -0.5rem;
}

/* testimonials */
.test-container {
    padding: 3rem 0rem;
    padding-right: 01rem;
    display: block;
    margin: 0;
    padding-left: 1.5rem;
   
}

.test-container .test-excerpt {
    margin-left: 6.5rem;
    padding: 0.5rem 0;
 }

 .test-container img {
    text-align: center;
}


 #testimonials  {
    min-height: 79vh;
    text-align: center;   
}

/* wrapper */
.w-container {
    display: block;
    text-align: center;
    padding-top: 1.3rem; 
   
}

.wrapper-btn {
    margin-top:2rem;  
}

/* Footer */

.footer-container {
    padding-left: 1.5rem;
    padding-top: 4.3rem;
    margin-left: 0;
    margin-right: 1rem;
   
}

.footer-divission {
    display: block;
    padding-top: 0.3rem;
}

.footer-container .main-container {
    padding: 0.9rem 0;
}


#main-footer .icons i {
    margin: 1.8rem 0.2rem;
    margin-bottom:0.3rem;
}

.footer-container img {
    margin: 0.6rem 1.4rem;
    margin-left: 0;    
}
.ct-details ul  {
    display: block;
    padding: 3rem 0;
    margin: 0rem;
    padding-left: 1.5rem;
   
 }

 .block-clear {
   padding:1rem ;
   
}

/* footer wrapper */
.wrapper2 {
    display:block;
}

.wrapper2 p {
    color: #cacdcf;
    padding: 0.2rem 3rem;
    text-align:center;
}

/****** media for 280 px *******/
@media (min-width: 280px) and (max-width: 319px) {
    /*menubar &showcase*/
    .checkbtn {
       display: block;
       text-align: center;
       width: 100%;
       margin-bottom: 0.4rem; 
    }

    span {
        float: left;
        margin-left: 0.5rem;
        line-height: 1.8;
    }

    .checkbtn i {
        float:right;
        margin-right: 0.5rem;
        line-height: 1.8;   
    }

    .menubar h1 {
        margin-bottom: 1rem;
    }
   
    .menubar ul {
       position: fixed ;
       width: 77%;
       height: 31vh;
       background: #2c3c4b;
       top: 11.6rem;
       left: -100%;
       display: block;
       margin-left: 2rem;
    }

    .menubar {
        padding: 1.5rem 0;
        width: 100%;
        border-top: #fff 0.1rpx solid;
        border-bottom:#fff 0.1px solid ;
        text-align: center;
        align-items: center;
    }

    #check:checked ~ ul {
       left:0;
    }

    input {
       width: 100%;
    }

    .showcase-container {
        text-align: center;
        padding: 5rem 2rem;
        line-height: 1.1;
    }

    #showcase {
     
        min-height:104vh;
        
    }

    /**introblocks **/
    #introblocks .items {
        margin-left: -0.6rem;
       
    }
    /** section referance **/
    .bg-img img {
        justify-content: center;
        width: 280px;
        height: 210px;
        padding: 0.9rem 0.9rem;
      
    }

    .bg-img {
        padding-top: 0.9rem;
    }
    .ref-short .btn {
        margin-left: 0.9rem;
        margin-top: 1.6rem;
        margin-bottom: 4rem;  
    }
   
   /**wrapper row3 **/
    .excerpt {
        margin-left: 1.7rem;
        padding-right: 1rem;
    }
    /**testimonials**/
    #testimonials {
        padding-top: 50rem;
    }
    .test-container {
        padding: 2.3rem 0.9rem;
        padding-right: 01rem;
        
    }
    .test-excerpt p {
        margin-top: 5rem;
        margin-left: -6.3rem;
    }
    .test-excerpt h3 {
        margin-left: -6.3rem;
    }
    .test {
        margin-bottom: 2rem;
    }

    /** wrapper **/
    .w-container {
        padding: 1.6rem 1rem;
        margin-bottom: 0.1rem;
    }
    .wrapper-btn .btn {
        padding: 0.9rem 1.2rem; 
        margin-bottom: -1rem;
    }

   /**Footer**/
   .footer-container {
       padding-top: 3rem;
       padding-left: 0.9rem;
    }

    #main-footer .icons i {
        padding: 0.5rem 0.5rem;
        margin: 0.3rem 0.2rem;
    }

    #main-footer .icons {
        padding-top: 1.7rem;
    }

    .footer-container img {
        margin: 0.3rem 0.8rem;
        margin-left: 0;  
    }

    /* Below the border:footer */ 
    .ct-details ul  {
        padding-left: 0.1rem;
        margin: 0;
    }
    .wrapper2 p {
        padding: 0.5rem 0.42rem;
    }
}



@media (min-width: 320px) and (max-width: 359px){
      /*menubar &showcase*/
    .checkbtn {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 0.4rem; 
     }
 
    span {
         float: left;
         margin-left: 0.5rem;
         line-height: 1.8;
    }
 
    .checkbtn i {
         float:right;
         margin-right: 0.5rem;
         line-height: 1.8;   
    
    }
 
    .menubar h1 {
         margin-bottom: 1rem;
     }
    
     .menubar {
         padding: 1.5rem 0;
         width: 100%;
         border-top: #fff 0.1rpx solid;
         border-bottom:#fff 0.1px solid ;
         text-align: center;
         align-items: center;
     }


     .menu {
        position: fixed ;
        width: 100%;
        height: 63vh;
        background: #2c3c4b;
        top: 13.7rem;
        left: -100%;
        padding-top: 5rem;
        transition: all .9s ease-in;
     }

     #showcase .menu .media {
         display: none;
     }
    
    #showcase ul  {
        font-size: 8.1px;
    }

 
    #check:checked ~ ul {
        left:0;
    }
      
    input{
        width: 100%;
    }
    .from-group {
       
        margin-top: 4rem;
    }
    /**introblocks **/

    .section-title{
        font-size: 1.2rem;
    }
    #introblocks .items {
        margin-left: -0.6rem;
        padding-bottom: 4rem;
        padding-top: 2.2rem;
    }

    #introblocks .items i {
        font-size: 2.9rem;
    }

    #introblocks .items h2 {
       font-size: 1.5rem;
    }
    /** section referance **/

    .ref-short ul li {
        font-size: 0.6rem;
    }

    .ref-short strong {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .bg-img img {
        width: 320px;
        height: 260px; 
        padding: 0.9rem 0.9rem;  
    }
    .ref-short .btn {
        margin-left: 4.6rem;
        margin-top: 2.3rem;
        margin-bottom: 3.2rem;   
    }
   /**wrapper row3 **/
    .excerpt {
        margin-left: 1.7rem;
        padding-right: 1rem;
    }
     
    /**testimonials**/
    #testimonials {
        padding-top: 50rem;
    }
    .test-container {
        padding: 2.3rem 0.9rem;  
    }
    .test-excerpt p {
        margin-top: 5rem;
        margin-left: -6.3rem;
    }
    .test-excerpt h3 {
        margin-left: -6.3rem;
    }
    .test {
        margin-bottom: 2rem;
    }

    /** wrapper **/
    .w-container {
        padding: 1.6rem 1rem;
        margin-bottom: 0.1rem;
    }
    .wrapper-btn .btn {
        padding: 0.9rem 1.2rem; 
        margin-bottom: -1rem;
    }

   /**Footer**/
   .footer-container {
       padding-top: 3rem;
       padding-left: 0.9rem;
    }

    #main-footer .icons i {
        padding: 0.5rem 0.5rem;
        margin: 0.3rem 0.2rem;
    }

    #main-footer .icons {
        padding-top: 1.7rem;
    }

    .footer-container img {
        margin: 0.5rem 1rem;
        margin-left: 0;  
    }

        
    /* Below the border:footer */ 
    .ct-details ul  {
        padding-left: 0.1rem;
        margin: 0;
    }
    .wrapper2 p {
        padding: 0.5rem 0.42rem;
    }
}


@media (min-width: 360px) and (max-width: 374px) {
      /*menubar &showcase*/
      .checkbtn {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 0.4rem; 
     }
 
    span {
         float: left;
         margin-left: 0.5rem;
         line-height: 1.8;
    }
 
    .checkbtn i {
         float:right;
         margin-right: 0.5rem;
         line-height: 1.8;   
    }
 
    .menubar h1 {
         margin-bottom: 1rem;
     }
    
     .menu {
        position: fixed ;
        width: 100%;
        height: 56vh;
        background: #2c3c4b;
        top: 13.7rem;
        left: -100%;
        padding-top: 5rem;
        transition: all .9s ease-in;
     }

     #showcase .menu .media {
         display: none;
     }
    
    #showcase ul  {
        font-size: 9.7px;
    }
    .menubar {
        padding: 1.5rem 0;
        width: 100%;
        border-top: #fff 0.1rpx solid;
        border-bottom:#fff 0.1px solid ;
        text-align: center;
        align-items: center;
    }
 
    #check:checked ~ ul {
        left:0;
    }
    .from-group .fas {
        width: 17%;
    }  
    input{
        width: 100%;
    }
    .from-group {
       
        margin-top: 4rem;
    }

    .showcase-container {
        text-align: center;
        padding: 5rem 1rem;
        line-height: 1.1;
      
    }
   
    /**introblocks **/
    
    .section-title {
        font-size: 1.2rem;
    }

    #introblocks .items {
        margin-left: -0.2rem;
        padding-top: 2.3rem;
    }
    /** section referance **/
     
    .ref-short ul li {
        font-size: 11px;
    }

    .ref-short strong {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }


    .bg-img img {
        width: 360px;
        height: 280px;
        padding: 0.9rem 1.2rem;
    }
    
    .bg-img {
        padding-top: 0.3rem;
    }
    
    .ref-short .btn {
        margin-left: 5.6rem;
        margin-top: 2.6rem;
        margin-bottom: 3.8rem;   
    }
   /**wrapper row3 **/
    .excerpt {
        margin-left: 1.7rem;
        padding-right: 1rem;
    }
    
    /**testimonials**/
    #testimonials {
        padding-top: 48rem;
    }
    .test-container {
        padding: 2.3rem 1.2rem;
        padding-right: 01rem;
      
    }
    .test-excerpt p {
        margin-top: 5rem;
        margin-left: -6.3rem;
    }
    .test-excerpt h3 {
        margin-left: -6.3rem;
    }
    .test {
        margin-bottom: 2rem;
    }

    /** wrapper **/
    .w-container {
        padding: 1.6rem 1.1rem;
        margin-bottom: 0.1rem;
    }
    .wrapper-btn .btn {
        padding: 0.9rem 1.2rem; 
        margin-bottom: -1rem;
    }

   /**Footer**/
   .footer-container {
       padding-top: 3rem;
       padding-left: 1.2rem;
    }

    #main-footer .icons i {
        padding: 0.5rem 0.5rem;
        margin: 0.3rem 0.2rem;
    }

    #main-footer .icons {
        padding-top: 1.7rem;
    }

    .footer-container img {
        margin: 0.5rem 1rem;
        margin-left: 0;  
    }

        
    /* Below the border:footer */ 
    .ct-details ul  {
        padding-left: 0.3rem;
        margin: 0;
    }
    .wrapper2 p {
        padding: 0.5rem 0.42rem;
    }

}



@media (min-width: 375px) and (max-width:399px) {
     /*menubar &showcase*/
     .checkbtn {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 0.4rem; 
     }
 
    span {
         float: left;
         margin-left: 0.5rem;
         line-height: 1.8;
    }
 
    .checkbtn i {
         float:right;
         margin-right: 0.5rem;
         line-height: 1.8;   
    }
 
    .menubar h1 {
         margin-bottom: 1rem;
         font-size: 1.7rem;
     }
    
   
    .menubar {
        padding: 1.5rem 0;
        width: 100%;
        border-top: #fff 0.1rpx solid;
        border-bottom:#fff 0.1px solid ;
        text-align: center;
        align-items: center;
    }
    
    .menu {
        position: fixed ;
        width:100%;
        height: 55vh;
        background: #2c3c4b;
        top: 13.7rem;
        left: -100%;
        padding-top: 5rem;
        transition: all .9s ease-in;
     }

     #showcase .menu .media {
         display: none;
     }
    
    #showcase ul  {
        font-size: 10px;
    }

    #check:checked ~ ul {
        left:0;
    }
    .from-group .fas {
        width: 17%;
    }  
    input{
        width: 100%;
    }
    .from-group {
       
        margin-top: 10rem;
    }

    .showcase-container {
        text-align: center;
        padding: 5rem 1rem;
        line-height: 1.1;
      
    }
    #showcase {
     
        min-height:80vh;  
    }
   
    /**introblocks **/
    .section-title{
        font-size: 1.3rem;
    }

    #introblocks .items {
        margin-left: -0.2rem;
        padding-bottom: 4rem;
        padding-top: 2.2rem;
    }

    #introblocks .items i {
        font-size: 3rem;
    }

    #introblocks .items h2 {
        font-size: 1.7rem;
    }
    /** section referance **/
    
    .ref-short ul li {
        font-size: 12px;
    }

    .ref-short strong {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }



    .bg-img img {
        width: 375px;
        height: 280px;
        padding: 0.9rem 1.2rem;
    }
    
    .bg-img {
        padding-top: 0.3rem;
    }
    
    .ref-short .btn {
        margin-left: 5.5rem;
        margin-top: 2.8rem;
        margin-bottom: 3.8rem;   
    }

    .btn {
        padding: 1rem 2rem;
    }
   /**wrapper row3 **/
    .excerpt {
        margin-left: 1.7rem;
        padding-right: 1rem;
    }

    /**testimonials**/
    #testimonials {
        padding-top: 47rem;
    }
    .test-container {
        padding: 2.3rem 1.2rem;
        padding-right: 01rem;
    }
    .test-excerpt p {
        margin-top: 5rem;
        margin-left: -6.3rem;
    }
    .test-excerpt h3 {
        margin-left: -6.3rem;
    }
    .test {
        margin-bottom: 2rem;
    }

    /** wrapper **/
    .w-container {
        padding: 1.6rem 1.2rem;
        margin-bottom: 0.1rem;
    }
    .wrapper-btn .btn {
        padding: 0.9rem 1.2rem; 
        margin-bottom: -1rem;
    }

   /**Footer**/
   .footer-container {
       padding-top: 3rem;
       padding-left: 1.2rem;
    }

    #main-footer .icons i {
        padding: 0.5rem 0.5rem;
        margin: 0.3rem 0.2rem;
    }

    #main-footer .icons {
        padding-top: 1.7rem;
    }

    .footer-container img {
        margin: 0.5rem 1rem;
        margin-left: 0;  
    }

        
    /* under of border:footer */ 
    .ct-details ul  {
        padding-left: 0.3rem;
        margin: 0;
    }
    .wrapper2 p {
        padding: 0.5rem 0.42rem;
    }
}


@media (min-width: 400px) and (max-width:539px) {
      /*menubar &showcase*/
      .checkbtn {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 0.4rem; 
     }

    span {
         float: left;
         margin-left: 0.5rem;
         line-height: 1.8;
    }
 
    .checkbtn i {
         float:right;
         margin-right: 0.5rem;
         line-height: 1.8;   
    }
 
    .menubar h1 {
         margin-bottom: 1rem;
     }
    

    .menubar {
        padding: 1.5rem 0;
        width: 100%;
        border-top: #fff 0.1rpx solid;
        border-bottom:#fff 0.1px solid ;
        text-align: center;
        align-items: center;
    }
    
    .menu {
        position: fixed ;
        width: 100%;
        height: 51vh;
        background: #2c3c4b;
        top: 13.6rem;
        left: -100%;
        padding-top: 5rem;
        transition: all .9s ease-in;
     }
    

    #showcase ul  {
        font-size: 11px;
    }

    #showcase  .menu .media {
        display: none;
    }
    
 
    #check:checked ~ ul {
        left:0;
    }
    
    input{
        width: 80%;
       
    }

    .from-group .fas {
      
            width: 14%;
    
    }
    .from-group {
       
        margin-top: 5.7rem;
        margin-bottom: -5rem;
    }

    .showcase-container {
        text-align: center;
        padding: 5rem 1rem;
        line-height: 1.1;
    }

    #showcase {
     
        min-height:103vh;
        
    }
   
    /**introblocks **/
    
    .section-title {
        font-size: 1.2rem;
    }

    #introblocks .items {
        margin-left: -0.2rem;
        padding-top: 2.2rem;
    }

    #introblocks .items h2 {
        font-size: 1.6rem;
    }
    /** section referance **/

    .section-title p {
        padding: 0rem 0.2rem;
        padding-top: 1rem;
    }
    
    .ref-short ul li {
        font-size: 12.5px;
    }

    .ref-short strong {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .bg-img img {
        width: 410px;
        height: 280px;
        padding: 0.9rem 1.5rem;
    }
    
    .bg-img {
        padding-top: 0.3rem;
    }
    
    .ref-short .btn {
        margin-left: 6.5rem;
        margin-top: 2.8rem;
        margin-bottom: 4rem;   
    }

    .btn {
        padding: 1.1rem 2rem;
    }
   /**wrapper row3 **/
    .excerpt {
        margin-left: 1.7rem;
        padding-right: 1rem;
    }

    /**testimonials**/
  
    .test-container {
        padding: 1.5rem 1.2rem;
        padding-right: 01rem;
    }
    .test-excerpt p {
        margin-top: 5rem;
        margin-left: -6.3rem;
    }
    .test-excerpt h3 {
        margin-left: -6.3rem;
    }
    .test {
        margin-bottom: 1rem;
    }

    #testimonials {
        padding-top: 44rem;
    }
    
    .testimonials-content .section-title{
        padding-top: 5.5rem;
    }

    /** wrapper **/
    .w-container {
        padding: 1.6rem 1.2rem;
        margin-bottom: 0.1rem;
    }
    .wrapper-btn .btn {
        padding: 0.9rem 1.2rem; 
        margin-bottom: -1rem;
    }

   /**Footer**/
   .footer-container {
       padding-top: 3rem;
       padding-left: 1.2rem;
    }

    #main-footer .icons i {
        padding: 0.5rem 0.5rem;
        margin: 0.3rem 0.2rem;
    }

    #main-footer .icons {
        padding-top: 1.7rem;
    }

    .footer-container img {
        margin: 0.5rem 1rem;
        margin-left: 0;  
    }

        
    /* Below the border:footer */ 
    .ct-details ul  {
        padding-left: 0.3rem;
        margin: 0;
    }
    .wrapper2 p {
        padding: 0.5rem 0.42rem;
    }
}


@media (min-width: 540px) and (max-width:767px) {
     /*menubar &showcase*/
     .checkbtn {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 0.4rem; 
     }

 
    span {
         float: left;
         margin-left: 0.5rem;
         line-height: 1.8;
    }
 
    .checkbtn i {
         float:right;
         margin-right: 0.5rem;
         line-height: 1.8;   
    }
 
    .menubar h1 {
         margin-bottom: 1rem;
     }
    
     .menu {
        position: fixed ;
        width: 100%;
        height: 51vh;
        background: #2c3c4b;
        top: 13.6rem;
        left: -100%;
        padding-top: 5rem;
        transition: all .9s ease-in;
     }

     .menu ul li {
         margin: 0;
     }
    

    #showcase ul  {
        font-size:11px;
     
    }

    #showcase #media-1 {
        display: none;
    }
    
    #showcase ul li:hover ul {
        top: 28px;
    }
 
    .menubar {
        padding: 1.5rem 0;
        width: 100%;
        border-top: #fff 0.1rpx solid;
        border-bottom:#fff 0.1px solid ;
        text-align: center;
        align-items: center;
    }
 
    #check:checked ~ ul {
        left:0;
    }
    
    input{
        width: 40%;
        padding: 1rem ;
       
    }

  
    .from-group {
       
        margin-top: 3rem;
        margin-bottom: -5rem;
    }

    .showcase-container {
        text-align: center;
        padding: 5rem 2rem;
        line-height: 1.1;
    }

    #showcase {
     
        min-height:100vh;
        
    }

    /* introblocks */

    .section-title {
        font-size: 1.2rem;
    }

    .section-title p {
        font-size: 1rem;
      
    }
    
    #introblocks .items {
        padding-top: 3rem;
    }
    #introblocks .items h2 {
        font-size: 1.4rem;
    } 

    #introblocks .items i {
        font-size: 3.3rem;
    }

  
   /*wrapper*/
    .w-container {
        padding: 3.5rem 1.3rem;
        padding-bottom: 2.1rem; 
    }

    /**testimonials**/
    #testimonials {
        padding-top: 29rem;
    }

 
}

