*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family:'lato',sans-serif;
    font-size: 0.9rem;
    font-weight: bold; 
}

p {
    color: #fff;
}

#showcase {
    background: url('../img/nav-background.jpg')
    no-repeat center center/cover;
    width: 100%;
    height: 90vh;
}

.container .menubar {
   display: flex;
   justify-content: space-between;
   padding: 6rem 2rem;
   margin: auto;
   align-items: center;
   text-align: center;
   height: 100px;
  
} 

#showcase .container .menubar{
  
    border-top: red 4px solid;
   
}
   
#showcase ul {
    list-style: none;
   
}

#showcase ul li {
    color:#fff;
    display: inline-block;
    padding: 0.6rem;
    position: relative;
   
}

#showcase ul li a {
    color: #fff;
    text-decoration: none;
}


#showcase ul:hover ul li {
    border-bottom: #000  1px solid solid;
    width: 100%;
    
}

.icon.fa-sort-down {
  float: right;
}
/* Hide Nested ul by default */

#showcase ul  li ul {
    display: none;
}
.sub-menu-2 {
    display: none;
}


/* Nested dropdown show */
#showcase ul li:hover ul {
    display: block;
    position: absolute;
    left: 0;
    width:150px;
    margin-top: 1.9rem;
}

.hover-me:hover .sub-menu-2 {
    display: block;
    position: absolute;
    margin-top: -35px;
    margin-left: 140px;
}

#showcase ul li:hover ul {
    background: #6c7a7a;
  
    
}

#showcase ul li:hover ul li:hover {
   background: #ccccff;
   width: 100%;
}